<footer class="text-center bg-body-transparent mt-5">
  <div class="container pt-3">
    <section class="mb-2">
      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://www.linkedin.com/in/bernadett-marsalik-511506287/"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin fa-xl"></i
      ></a>

      <!-- Github -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://github.com/bernadettmarsalik"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github fa-xl"></i
      ></a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024
    <span class="text-body">Bernadett Marsalik</span>
  </div>
</footer>
