<section class="container pt-4 col-sm-12 col-md-12 col-lg-6">
  <div class="helloWorld">
    <p>Hello World!</p>
    <p>Welcome to my page. I'm a junior frontend developer from Hungary.</p>
  </div>
</section>

<div class="container col-sm-12 col-md-12 col-lg-6">
  <section id="about" class="home-element container shadow rounded-5 p-4 mt-5">
    <h1>About me</h1>
    <hr />

    <p class="px-5">
      My name is <b>Bernadett Marsalik</b>, a
      <em>junior frontend developer</em>
      based in Debrecen, Hungary. Formerly in healthcare, I bring precision and
      efficient problem-solving skills. Thriving in collaborative teams, I've
      inspired colleagues and excelled independently.
    </p>
    <p class="px-5">
      Currently deepening my programming knowledge at PROGmasters. I'm familiar
      with
      <em
        >Angular, React, Vue, HTML, CSS, Bootstrap, JavaScript, TypeScript,
        Firebase, SEO,
      </em>
      and more. Experienced in agile methodologies, clean code, and design
      tools. Eager to contribute and evolve in the dynamic world of frontend
      development.
    </p>
  </section>

  <section
    id="projects"
    class="home-element container shadow rounded-5 p-4 mt-5"
  >
    <h1>Projects</h1>
    <hr />
    <p class="px-5">
      I'm fresh out of school. I've successfully completed solo projects, and
      collaborated seamlessly in agile teams as well. Excited to bring my skills
      to your web projects!
    </p>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Notes App
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div
            class="accordion-body d-flex flex-column flex-xxl-row flex-xl-row flex-lg-column flex-md-column flex-sm-column justify-content-center align-items-start text-center"
          >
            <div class="img-container container">
              <img
                src="../../../../assets/notes-app-angular.jpg"
                alt="notes-app-image"
              />
            </div>
            <div class="d-flex flex-column p-3">
              <p>
                This is a simple notes app developed using Angular CLI with
                Typescript, Firebase and styled with Bulma & SCSS.
              </p>
              <p>
                <a
                  href="https://github.com/bernadettmarsalik/notes-app"
                  target="_blank"
                  type="button"
                  class="btn btn-outline-dark mt-5 text-center"
                >
                  GitHub <i class="fa-brands fa-github"></i>
                </a>
                <a
                  href="https://notes-app-7f433.firebaseapp.com/"
                  target="_blank"
                  type="button"
                  class="btn btn-outline-dark mt-5 text-center"
                >
                  Deployed page <i class="fa-solid fa-file-lines"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Current Weather App with API
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div
            class="accordion-body d-flex flex-column flex-xxl-row flex-xl-row flex-lg-column flex-md-column flex-sm-column justify-content-center align-items-start text-center"
          >
            <div class="img-container container p-3">
              <img
                src="../../../../assets/react-weather-app.jpg"
                alt="notes-app-image"
              />
            </div>
            <div class="d-flex flex-column p-3">
              <p>
                This is a current weather app developed using React with
                Typescript, OpenWeatherMap API and styled with Bootstrap & CSS.
              </p>

              <p>
                <a
                  href="https://github.com/bernadettmarsalik/weather-app-react.git"
                  target="_blank"
                  type="button"
                  class="btn btn-outline-dark mt-5 text-center me-3"
                >
                  GitHub <i class="fa-brands fa-github"></i>
                </a>
                <a
                  href="https://bernadettmarsalik.github.io/weather-app-react/"
                  target="_blank"
                  type="button"
                  class="btn btn-outline-dark mt-5 text-center"
                >
                  Deployed page <i class="fa-solid fa-file-lines"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Rock-Paper-Scissors Game
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div
            class="accordion-body d-flex flex-column flex-xxl-row flex-xl-row flex-lg-column flex-md-column flex-sm-column justify-content-center align-items-start text-center"
          >
            <div class="img-container container p-3">
              <img
                src="../../../assets/rock-paper-scissors.jpg"
                alt="notes-app-image"
              />
            </div>
            <div class="d-flex flex-column p-3">
              <p>
                A simple Rock-Paper-Scissors game app developed using Vue with
                and styled responsively with Bootstrap & CSS.
              </p>

              <p>
                <a
                  href="https://github.com/bernadettmarsalik/rock-paper-scissors-vue.git"
                  target="_blank"
                  type="button"
                  class="btn btn-outline-dark mt-5 text-center me-3"
                >
                  GitHub <i class="fa-brands fa-github"></i>
                </a>
                <a
                  href="https://bernadettmarsalik.github.io/rock-paper-scissors-vue/"
                  target="_blank"
                  type="button"
                  class="btn btn-outline-dark mt-5 text-center"
                >
                  Deployed page <i class="fa-solid fa-file-lines"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour"
          >
            Clinic Landing Page
          </button>
        </h2>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample"
        >
          <div
            class="accordion-body d-flex flex-column flex-xxl-row flex-xl-row flex-lg-column flex-md-column flex-sm-column justify-content-center align-items-start text-center"
          >
            <div class="img-container container p-3">
              <img
                src="../../../assets/clinic-landing-page.png"
                alt="clinic-landing-page-image"
              />
            </div>
            <div class="d-flex flex-column p-3">
              <p>
                A fully repsonsive minimalist designed landing page for a Clinic
                Center styled with Tailwind CSS and added scroll animations.
              </p>

              <p>
                <a
                  href="https://github.com/bernadettmarsalik/clinic-landing-page.git"
                  target="_blank"
                  type="button"
                  class="btn btn-outline-dark mt-5 text-center me-3"
                >
                  GitHub <i class="fa-brands fa-github"></i>
                </a>
                <a
                  href="https://bernadettmarsalik.github.io/clinic-landing-page/"
                  target="_blank"
                  type="button"
                  class="btn btn-outline-dark mt-5 text-center"
                >
                  Deployed page <i class="fa-solid fa-file-lines"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    id="experience"
    class="home-element container shadow rounded-5 p-4 mt-5"
  >
    <h1>Experience</h1>
    <hr />
    <h3>Tech stack</h3>
    <div class="skill-icons text-center mb-5">
      <span class="badge text-bg-dark bg-gradient p-2 me-2 mb-2"
        >HTML <i class="fa-brands fa-html5 fa-2xl"></i>
      </span>
      <span class="badge text-bg-dark bg-gradient p-2 me-2"
        >CSS, SCSS <i class="fa-brands fa-sass fa-2xl"></i>
      </span>
      <span class="badge text-bg-dark bg-gradient p-2 me-2"
        >Angular <i class="fa-brands fa-angular fa-2xl"></i>
      </span>
      <span class="badge text-bg-dark bg-gradient p-2 me-2"
        >React <i class="fa-brands fa-react fa-2xl"></i>
      </span>
      <span class="badge text-bg-dark bg-gradient p-2 me-2"
        >Vue <i class="fa-brands fa-vuejs fa-2xl"></i>
      </span>
      <p>
        <strong>Other:</strong> Typesrcipt, JavaScript, Bootstrap, Bulma,
        Github, Firebase, Canva, Figma
      </p>
    </div>

    <h3>Job history</h3>
    <ul class="list-group p-3">
      <li
        class="list-group-item bg-light bg-opacity-25 d-flex justify-content-between align-items-center"
      >
        PROGmasters - taking part in frontend projects
        <span class="badge bg-dark bg-gradient rounded-pill"
          >2023. 07 - 2024. 02.</span
        >
      </li>
      <li
        class="list-group-item bg-light bg-opacity-25 d-flex justify-content-between align-items-center"
      >
        University of Debrecen Clinical Center, Department of Oncoradiology –
        radiation therapist
        <span class="badge bg-dark bg-gradient rounded-pill"
          >2019. 09 - 2023. 12</span
        >
      </li>
    </ul>
  </section>

  <section
    id="contact"
    class="home-element container shadow rounded-5 p-4 mt-5"
  >
    <h1>Contact</h1>
    <hr />
    <div
      class="card mb-3 container bg-transparent border-0"
      style="max-width: 540px"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../../assets/IMG_8789.JPG"
            class="img-fluid rounded-circle border shadow"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Get in touch!</h5>
            <p class="card-text">
              I will be happy to receive your contact if you want to talk about
              new opportunities.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">
                <i class="fa-regular fa-envelope"></i>
                <a
                  href="mailto:bernadett.marsalik@gmail.com"
                  class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                >
                  bernadett.marsalik@gmail.com</a
                ></small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
